<div style="font-family: 'Ubuntu';">
    <h5 mat-dialog-title style="font-family: 'Ubuntu';">Order placed successfully!!</h5>
    <mat-dialog-content>
        <div>Thank you for shopping with us!</div><br/>
        <div>We would love to hear about your experience!</div><br/>
        <div>Share few words on our Twitter Page?</div><br/>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button mat-raised-button mat-dialog-close color="accent" (click)="goToReview()">Review</button>
    </mat-dialog-actions>
</div>